---
export interface BlogProps {
  title: string;
  url: string;
  pubDate: string;
}
const { title, url, pubDate } = Astro.props;
---

<li>
  <a href={url}>{title} - {pubDate}</a>
</li>

<!--   image  -->
